body{
	margin: 0;
	background-color: ff9900;
	
}
.main{
	background-image:url('assets/img/bk.jpg');
	background-size: cover;
	background-position: center top 10%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
.sidebar-wrapper{
	background-image:url('assets/img/bk.jpg');
	background-size: cover;
	background-position: center top 10%;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;


}
